/* myStyle.css */
body {
 background-color: #f7e6e2;
 color: #FFFFFF;
}
h1 {
 color: #FFFF33;
 text-align: center;
 font: italic 200% fantasy;
}
h3 {
 color: #FFC0CB;
 text-align: center;
 font: bold; 200% fantasy;
}
p {
 background-color: #FFFF33;
 color: #333300;
 text-align: center;
 border: 3px groove #FFFF33;
}html, body {
  height: 100%;
  margin: 0;
}
.grid2x2 {
  min-height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box { margin: 20px; }
.box1 { background-color: red; }
.box2 { background-color: orange; }
.box3 { background-color: purple; }
.box4 { background-color: grey; }

.grid1{
  min-height: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid1 > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}
.grid1 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box { margin: 20px; }
.box1 { background-color: red; }
.box2 { background-color: orange; }
.box3 { background-color: purple; }
.box4 { background-color: grey; }